@model IEnumerable<PolicyRequestDetails>

<div class="col-xl-6 col-md-12">
    <div class="card table-card">
        <div class="card-header">
            <h5>Policy Requests</h5>
            <div class="card-header-right">
                <div class="btn-group card-option">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="feather icon-more-horizontal"></i>
                    </button>
                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item full-card"><a href="javascript:void(0);"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                        <li class="dropdown-item minimize-card"><a href="javascript:void(0);"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                        <li class="dropdown-item reload-card"><a href="javascript:void(0);"><i class="feather icon-refresh-cw"></i> reload</a></li>
                        <li class="dropdown-item close-card"><a href="javascript:void(0);"><i class="feather icon-trash"></i> remove</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Request ID</th>
                            <th>Employee Name</th>
                            <th>Policy ID</th>
                            <th>Status</th>
                            <th>Request Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.RequestId</td>
                                <td>@item.empno</td>
                                <td>@item.PolicyId</td>
                                <td>@item.Status</td>
                                <td>@item.RequestDate.ToString("MMM dd, yyyy")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@* <script>
    $(document).ready(function () {
        $('.full-card').click(function () {
            // Implement maximize/restore functionality
        });
        $('.minimize-card').click(function () {
            // Implement collapse/expand functionality
        });
        $('.reload-card').click(function () {
            // Implement reload functionality
            location.reload(); // Simple reload example
        });
        $('.close-card').click(function () {
            // Implement remove functionality
            $(this).closest('.card').remove(); // Remove card example
        });
    });
</script> *@
<script>
    document.querySelector("#validatedCustomFile").addEventListener('change', function (event) {
        // When a file is selected, get the file name
        var fileName = event.target.files[0].name;

        // Find the label that corresponds to the input and set its content
        var label = event.target.nextElementSibling;
        label.innerText = fileName;
    });
</script>
