

 @{
    ViewData["Title"] = "ViewEmp";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<EmpRegister>

<div class="row">
    <div class="col-md-6">
        <h1 class="text-success">Employees List</h1>
    </div>
    <div class="col-md-6">
        <a asp-action="AddEmp" asp-controller="Admin" class="btn  btn-info">Register Employee</a>
    </div>
</div>

    

        <div class="card-body table-border-style">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        
                            <tr>
                                <th>E_No</th>
                                <th>E_Name</th>
                                <th>Salary</th>
                                <th>Username</th>
                                <th>Password</th>
                                <th>Policy Id</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                        @foreach (var i in Model)
                        {
                                <tr>
                                <td>@i.empno</td>
                                    <td>@i.firstname  @i.lastname</td>
                                    <td>@i.Salary</td>
                                    <td>@i.username</td>
                                    <td>@i.password</td>
                                    <td>@i.Policyid</td>
                                <td>
                            <a asp-action="UpdateEmployee" asp-controller="Employee" asp-route-id="@i.empno" class="btn btn-group-sm btn-outline-success">Update</a>
                            <a asp-action="DeleteEmployee" asp-controller="Employee" asp-route-id="@i.empno" class="btn btn-group-sm btn-outline-danger">Delete</a>
                                    <a asp-action="DetailsEmployee" asp-controller="Employee" asp-route-id="@i.empno" class="btn btn-group-sm btn-outline-success">Details</a>
                                </td>
                                </tr>
                               
                                
                            }
                            </tbody>
                        </table>
                        
</div>
</div>


       


