

 @{
    ViewData["Title"] = "ViewEmp";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<InsuranceCompany>

<div class="row">
    <div class="col-md-6">
        <h1 class="text-success">Employees List</h1>
    </div>
    <div class="col-md-6">
        <a asp-action="CreateInsurance" asp-controller="Insurance" class="btn  btn-info">Add Insurance</a>
    </div>
</div>

    

        <div class="card-body table-border-style">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        
                            <tr>
                                <th>C_Id</th>
                                <th>Company_Name</th>
                                <th>Company_Logo</th>   
                                <th>Company_Webite</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                @foreach (var i in Model)
                {
                    <tr>
                        <td>@i.Ins_Id</td>
                        <td>@i.Ins_Name</td>
                        <td>
                            <div class="text-center">
                                <img class="rounded" src="@Url.Content("~/uploads/InsuranceCompaniesData/" + i.Ins_CompanyLogourl)" alt="Company Logo" style="height:50px;" />
                               
                            </div>
                        </td>
                        <td>
                            <a target="_blank" rel="noreferrer" href="@i.CompantWebsiteUrl">@i.CompantWebsiteUrl</a>
                        </td>
                        <td>
                            <a asp-action="EditInsurance" asp-controller="Insurance" asp-route-id="@i.Ins_Id" class="btn btn-group-sm btn-outline-success">Edit</a>
                            <a asp-action="DeleteInsurance" asp-controller="Insurance" asp-route-id="@i.Ins_Id" class="btn btn-group-sm btn-outline-danger">Delete</a>
                            <a asp-action="DetailsInsurance" asp-controller="Insurance" asp-route-id="@i.Ins_Id" class="btn btn-group-sm btn-outline-success">Details</a>
                        </td>
                    </tr>
                }

                            </tbody>
                        </table>
                        
</div>
</div>


       


