@{
    ViewData["Title"] = "Admin View";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<AdminLogin>

<div class="row">
    <div class="col-md-6">
        <h1 class="text-success">Admins List</h1>
    </div>
    <div class="col-md-6">
        <a asp-action="CreateAdmin" asp-controller="AdminLogin" class="btn  btn-info">Add Admin</a>
    </div>
    @if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["AlertMessage"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

</div>



<div class="card-body table-border-style">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>

                <tr>
                    <th>A_Id</th>
                    <th>A_Name</th>
                    <th>A_Email</th>
                    <th>A_Photo</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model)
                {
                    <tr>
                        <td>@i.Adm_ID</td>
                        <td>@i.AdminName</td>
                        <td>@i.Email</td>

                        <td>
                            <div class="text-center">
                                <img class="rounded" src="@Url.Content("~/uploads/AdminData/" + i.AdminPhotourl)" asp-append-version="true" alt="Data Logo" style="height:50px;" />

                            </div>
                        </td>

                        <td>
                            <a asp-action="EditAdmin" asp-controller="AdminLogin" asp-route-id="@i.Adm_ID" class="btn btn-group-sm btn-outline-success">Edit</a>
                            <a asp-action="DeleteAdmin" asp-controller="AdminLogin" asp-route-id="@i.Adm_ID" class="btn btn-group-sm btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>






